@{
    ViewData["Title"] = "Home Page";
}


<body class="body">
    <div class="main_page">

        <header>
            <div class="text-center">
                <h1 class="display-4">Welcome to RoboDex</h1>
            </div>
        </header>
    </div>
</body>
<div class="text-center">
    <img style="height: 500px; width: auto;" src="~/Dexter.jpg" />
</div>
