@model RoboDex__Capstone_.Models.ViewModels.ItemTagsLocation

@{
    ViewData["Title"] = "EditItem";
}

<h1>Edit Your Item</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Items.ItemId" />
            <input type="hidden" asp-for="LocationPlace.LocationId" />
            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <input type="hidden" asp-for="Tags[i].TagId" class="form-control" />
            }

            <input type="hidden" asp-for="Items.LocationId" class="form-control" />
            <div class="form-group">
                <label asp-for="Items.IMGUrl" class="control-label"></label>
                <input asp-for="Items.IMGUrl" class="form-control" />
                <span asp-validation-for="Items.IMGUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items.Name" class="control-label"></label>
                <input asp-for="Items.Name" class="form-control" />
                <span asp-validation-for="Items.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items.Price" class="control-label"></label>
                <input asp-for="Items.Price" class="form-control" />
                <span asp-validation-for="Items.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPlace.MainLocation" class="control-label"></label>
                <input asp-for="LocationPlace.MainLocation" class="form-control" />
                <span asp-validation-for="LocationPlace.MainLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPlace.SecondaryLocation" class="control-label"></label>
                <input asp-for="LocationPlace.SecondaryLocation" class="form-control" />
                <span asp-validation-for="LocationPlace.SecondaryLocation" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="Tags[i].Name[i+1]" class="control-label"></label>
                    <input asp-for="Tags[i].Name" class="form-control" />
                    <span asp-validation-for="Tags[i].Name" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



