@model List<RoboDex__Capstone_.Models.Inbox>

@{
    ViewData["Title"] = "ReadInbox";
}

<h1>Read Messages</h1>

<div>
   
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Message)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>

                    <td>
                        | <a asp-action="ItemDetails" asp-route-id="@item.ItemId">Details</a> |                 
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

