@model List<RoboDex__Capstone_.Models.Inbox>

@{
    ViewData["Title"] = "UpdateInbox";
}

<h1>Unread Messages</h1>

<div>
    
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Message)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>

                    <td>
                        | <a asp-action="ItemDetails" asp-route-id="@item.ItemId">Details</a> |
                        <a asp-action="MessageRead" asp-route-id="@item.Id">Mark As Read</a> |
                    </td>


                </tr>
            }
        </tbody>
    </table>
    
</div>
<div>

    | <a asp-action="ReadInbox">Go To Read Messages</a> |
    <a asp-action="Index">Back to List</a> |
</div>
